.list {
    font-family:sans-serif;
    margin:0;
    padding:20px 0 0;
    display: none ;
    
    
    
  }
 .list > li {
    
    background-color: rgb( 204, 204, 204);
    padding:10px;
    box-shadow: inset 0 1px 0 #fff;
    position: absolute;
    height: 50px;
    width: 300px;
    list-style-type: none;

    
    
   
    
  }


  .clé1{
   
    cursor: pointer;
  }
  
  
  
  input {
    border:solid 1px #ccc;
    border-radius: 5px;
    padding:7px 14px;
    margin-bottom:10px;
   
  }
  input:focus {
    outline:none;
    border-color:rgb(224, 216, 216);
    
  }
  .sort {
    padding:8px 30px;
    border-radius: 6px;
    border:none;
    display:inline-block;
    color:#fff;
    text-decoration: none;
    background-color: #28a8e0;
    height:30px;
  }
  