

/* general*/
.container-menu {
    width: 100%;
    height: 150px;
    border-top: 2px solid #002458;
    border-bottom: 2px solid #002458;
    display: flex;
    align-items: center;
    
    
}


.sections {
    border-left: 1px solid #002458;
    border-right: 1px solid #002458;
}

select:focus, input:focus{
    outline: none;
}

select {
    width: 20px;
}

/* section all*/
#all{
    padding: 30px;
    margin-left: 5px;
    border-left: none;

}

#all button {
    padding: 15px;
    background-color: rgb(0,14,35, 0.3);
    border: none;
    
}



/* section decennies*/
#decennies {
    display: flex;
    padding: 30px;
    border: none;
}

#decennies p {
    padding: 10px;
    text-decoration: bold;
    margin-left: 2px;
    border-radius: 15px;
}

#decennies p:hover {
    background-color: rgb(0,14,35, 0.3);
    cursor: pointer;

}


/* section button-menu*/
#buttons-menu {
    padding: 30px;
    
}

#buttons-menu button {
    padding: 15px;
    background-color: rgba(240, 201, 26, 0.6);
    border: 1px solid  rgba(240, 201, 26) ;
    margin-left: 4px;
    margin-right: 4px;
    width: 80px;

}

#all button:hover {
    cursor: pointer;
}


/* section search*/
#recherche{
    border: none;
    padding: 10px
}

#research {
    border-radius: 20px;
    height: 32px;

}

.bi-search{
    position: absolute;
    right: 58px;
    top: 438px
}




.liCorresp {
    padding: 3px;
    cursor: pointer;
   
    
}


.asideul {
    
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;

        margin-top: 3%;
  
}


#options {
    padding: 10px;
    margin-bottom: 2%;
    
}

#options button {
   
    border-radius: 15px;
    padding: 4%;
    border: 0.5px solid rgba(240, 201, 26, 0.6)
}


#options button:hover {
    background-color: rgba(240, 201, 26, 0.6);
    border : 0.5px solid #eeeff2
}
