/*  css fix */

strong a {
	color:#002458;
	padding-left: 20px;
}

#backTop{
   display:block;
   position:fixed;
   bottom:5px;
   right:5px;
   width:32px;
   height:32px;
   background: #fff;
   text-align: center;
   text-decoration: overline;
}

.primary-nav > ul > li{
  width: 12rem;
}


footer img
{
  
  padding-right: 5px;
  max-width: 11%;
}

a.linkPlus{
   cursor:pointer;
}

a.linkPlus:hover{
   text-decoration: underline;
}



/* Catalogues */
.projectDesc{
  width:450px;
}

.projectDesc,.projectDesc  tr, .projectDesc tr td{
  border:none;
  padding:2px;
}

.Rey1746{
  background:#ab5466; 
}

.Rey1782{
    background:#585f74; 
}

.alignements {
 text-decoration: none;
  padding: 0 10px;
}
.alignements img{
  height: 0.8em;
}

#page-index h1 a{
  color:inherit;
  text-decoration: none;
}

#index h4{
  padding: 30px 0 0 0;
}

#index h4 > a:nth-of-type(1){
  color: #002458;
  text-decoration:  underline ;
}

a.persName{
  background: #ddd;
}



